name: retry-glynternet
title: retry
version: $VERSION
summary: The command for retrying commands
description: The command for retrying commands
base: core22
license: MIT
grade: devel
# use devmode for debugging
# classic required to access commands outside of the snap
# Requires approval from the snapcraft team to get classic confinement in the snapstore
# https://forum.snapcraft.io/t/process-for-reviewing-classic-confinement-snaps/1460
# https://forum.snapcraft.io/t/classic-confinement-for-debug-command-line-tool/37413
confinement: classic
architectures:
  - $ARCH
apps:
  retry:
    command: retry
