name: retry
title: retry
version: $VERSION
summary: The command for retrying commands
description: The command for retrying commands
base: bare
license: MIT
grade: devel
# use devmode for debugging
confinement: strict
architectures:
  - $ARCH
apps:
  retry:
    command: retry
