name: retry-glynternet
title: retry
version: $VERSION
summary: The command for retrying commands
description: The command for retrying commands
base: core22
license: MIT
grade: devel
# use devmode for debugging
# classic required to access commands outside of the snap
confinement: classic
architectures:
  - $ARCH
apps:
  retry:
    command: retry
